# Do not save the tmux plugins, reinstall them
**/tmux/plugins/
# Do not save the fonts, reinstall them
**/fonts/*
# Do not save binaries, just save my scripts
scripts/.local/bin/*
!scripts/.local/bin/scripts
